:root {
    --primary-color: #065e45;
    --secondary-color: #fff7d6;
    --accent-color: #a50e3c;
    --dark-color: #1e1e1e;
    --light-color: #ffffff;
    --text-color: #222222;
    --text-light: #aaaaaa;
    --section-padding: 80px 20px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Segoe UI", Arial, sans-serif;
    background: #fff;
    color: var(--text-color);
    line-height: 1.6;
    margin-left: -15vh;;
}

img{
    max-height: 100%;
    height: auto;
}

.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

section{
    padding: var(--section-padding);
}

h1, h2, h3, h4 {
    line-height: 1.2;
    margin-bottom: 15px;
}

p{
    margin-bottom: 15px;
}

.btn{
    display: inline-block;
    padding: 10px 20px;
    border-radius: 25px;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
}